h1 Varning! 
h3 #{@username} kommer att raderas!
<p>Följande åtgärder är <b>inte möjligt att ta tillbaka!</b></p>
p alla dina meddelanden kommer att anonymiseras, men inte försvinna. Admin kan fortfarane se vem som skrev det!
p vill du fortsätta?

form action="/account/delete" method="post"
    input type="text" placeholder="Skriv in ditt lösenord!" name="pwd_confirm"
    input type="submit" value="RADERA MITT KONTO."/
p
p
p 
p 
p 

form action="/lobby" method="get"
    input type="submit" value="Jag vill inte genomföra detta"/